@import "../../../variables";

main {
    h2 {
        text-align: center;
    }

    .faq-block:not(.faq-block:last-of-type) {
        margin-bottom: 32px;
    }

    .faq-block {
        .answer {
            opacity: 0.7;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.6s;
        }

        .icon-wrapper {
            margin-left: 16px;
            display: flex;
            padding: 8px 0;
        }

        &.active {
            .open-icon {
                transform: rotate(405deg);
            }

            .answer {
                max-height: 400px;
            }
        }
    }

    .question {
        margin-bottom: 4px;
        cursor: pointer;

        p {
            font-size: 40px;
            line-height: 58px;
        }

        .open-icon {
            transition: all 0.6s;
        }
    }
}

@media screen and (max-width: 1440px) {
    main {
        padding: 0 32px;
    }
}

@media screen and (max-width: 800px) {
    main {
        .question {
            p {
                font-size: 32px;
                line-height: 48px;
            }
        }

        .answer {
            font-size: 24px;
            line-height: 32px;
        }
    }
}

@media screen and (max-width: 440px) {
    main {
        padding: 0 16px;

        .faq-block {
            margin-bottom: 16px;

            .icon-wrapper {
                padding: 0;
            }
        }

        .question {
            p {
                font-size: 24px;
                line-height: 32px;
            }
        }

        .answer {
            font-size: 18px;
            line-height: 26px;
        }

        h2 {
            font-size: 60px;
        }
    }
}
