@import "./node_modules/ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../../variables";

footer {
    height: 64px;
    width: 100%;
    max-width: 1280px;
    @extend .flex-row;
    @extend .layout-space-between-center;

    .logo {
        @extend .flex-row;
        @extend .layout-center-center;

        color: #fff;

        img {
            width: 50px;
            height: 50px;
            margin-right: 16px;
        }

        p {
            font-size: 24px;
            line-height: 50px;
        }
    }

    .community {
        @extend .flex-row;
        @extend .layout-center-center;

        a:not(:last-child) {
            margin-right: 16px;
        }
    }
}

@media screen and (max-width: 1440px) {
    footer {
        padding: 0 32px;
    }
}

@media screen and (max-width: 800px) {
    footer {
        height: 96px;
        flex-direction: column;
    }
}

@media screen and (max-width: 440px) {
    footer {
        padding: 0 16px;
        height: 140px;
    }
}
