<footer>
    <div class="logo">
        <img src="/assets/favicons/android-chrome-192x192.png" alt="Octopus Squad Logo" />
        <p>Octopus Squad</p>
    </div>
    <span class="spacer flex-grow-1"></span>
    <div class="community">
        <a target="_blank" href="https://github.com/rovergulf/octopus-squad">
            <img src="/assets/icons/github.svg" alt="Octopus Squad public repository" />
        </a>
        <a target="_blank" href="https://polygonscan.com/token/0xE088f6d45e537B9B4F17f8096757A5911b1F6643">
            <img src="/assets/icons/polygonscan.svg" alt="Octopus Squad Contract on Polygonscan" />
        </a>
        <a target="_blank" href="https://discord.gg/8D9SB5UnzQ">
            <img src="/assets/icons/discord.svg" alt="Octopus Squad Discord server" />
        </a>
        <a target="_blank" href="https://twitter.com/OctoSquad_Team">
            <img src="/assets/icons/twitter.svg" alt="Octopus Squad on Twitter" />
        </a>
        <a target="_blank" href="https://opensea.io/collection/octopus-squad">
            <img src="/assets/icons/opensea.svg" alt="Octopus Squad at OpenSea" />
        </a>
    </div>
</footer>
