@import "../variables";

#wrap {
    @extend .flex-column;
    @extend .layout-start-stretch;
    min-height: 100vh;
    background: center center repeat url('/assets/images/background.jpg');
    background-size: cover;
    padding-bottom: 64px;

    app-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 100;
    }

    app-footer {
        width: 100%;
        max-width: 1280px;
        align-self: center;
    }

    router-outlet {
        z-index: 5;
    }
}
