@import "../variables";

#wrap {
    @extend .flex-column;
    @extend .layout-start-stretch;

    app-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 10;
    }

    router-outlet {
        z-index: 5;
    }
}
