<main>
    <video src="/assets/header.webm" loop autoplay poster="/assets/images/main_screen.jpg">
        Sorry, your browser doesn't support embedded videos,
        but don't worry, you can <a href="/assets/header.webm">download it</a>
        and watch it with your favorite video player!
    </video>
    <div class="overlay">
        <h1>Octopus Squad</h1>
        <span class="spacer"></span>
        <p>This is a squad of 10K randomly generated<br>NFTs that reside on the Polygon blockchain.</p>
        <span class="spacer"></span>
        <button class="mint">Mint now</button>
    </div>
</main>
