@import "./node_modules/ngx-slice-kit/lib/core/styles/flexbox";

main {
    @extend .flex-column;
    @extend .layout-start-stretch;

    video {
        width: 100%;
    }

    .overlay {
        @extend .flex-column;
        @extend .layout-start-start;
        padding: 64px 88px 0 88px;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        color: #fff;

        h1 {
            font-family: 'Qinzy - Personal Use', sans-serif;
            font-weight: normal;
            font-size: 124px;
            line-height: 160px;
        }

        p {
            font-size: 32px;
            line-height: 48px;
        }
    }

    .mint {
        text-align: center;
        cursor: pointer;
        width: 344px;
        height: 80px;
        background: #FFF772;
        border-radius: 24px;
        font-size: 32px;
        line-height: 80px;
        color: #1F3245;
        transition: opacity .25s ease;

        &:hover {
            opacity: 0.75;
        }
    }
}

@media screen and (max-width: 1024px) {
    main {
        .overlay {
            h1 {
                font-size: 70px;
                line-height: 80px;
            }

            p {
                line-height: 40px;
                text-shadow: 1px 1px 2px #213245;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    main {
        .overlay {
            padding: 64px 60px 0 60px;

            h1 {
                font-size: 60px;
                line-height: 68px;
            }

            p {
                font-size: 24px;
                line-height: 32px;
            }

            .mint {
                width: 240px;
                height: 60px;
                border-radius: 12px;
                line-height: 60px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    main {
        video {
            height: 500px;
            width: 1200px;
            left: -50%;
            position: relative;
        }
    }
}
