<main class="flex-column">
    <h2>Road Map</h2>

    <ng-container *ngFor="let stage of roadmap; let i = index">
        <div class="step">
            <div class="container container--{{i}}">
                <ul>
                    <ng-container *ngFor="let t of stage.points"></ng-container>
                    <li>We are improving Discord and social media management</li>
                    <li>Drawing 10 OS among the community</li>
                </ul>
            </div>
        </div>
    </ng-container>

</main>
