@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/qinzy-extruded-personal-use');
@import "./node_modules/ngx-slice-kit/lib/core/styles/defaults";
@import "./node_modules/ngx-slice-kit/lib/core/styles/flexbox";

/*
 * those contents are copied from
 * https://github.com/rovergulf/ngx-slice-kit/tree/main/libs/ngx-slice-kit/src/lib/core/styles
 */

/* --- DEFAULTS --- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}

input, button, textarea {
    outline: none;
    border: none;
    font-family: inherit;
}

input.hidden {
    position: absolute;
    z-index: -10;
    top: -10000 px;
    left: -10000 px;
    height: 1px;
    width: 1px;
    opacity: 0;
}

ul, ol {
    list-style: none;
}

b, i, strong {
    font-size: inherit;
    color: inherit;
}

[hidden], .hide {
    display: none !important;
}

[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}

/* end of defaults */

html, body {
    width: 100vw;
    position: relative;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 14px;
    color: var(--regular-text);
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

span.spacer {
    padding: 16px;
}

.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
}
