<main>
    <h2>About us</h2>
    <p>Octopus Squad is a good deeds NFT collection of 10k octopuses generated programmatically using 150 hand-drawn elements.</p>
    <p>We wish to create a community that is not indifferent to the fate of our planet, nature and its inhabitants, as well as to unite people interested in NFT.</p>
    <p>Part of the funds will go to charitable foundations for cleaning water bodies and helping animals, supporting and developing the community, its members and future projects.</p>
</main>
