@import "../../variables";

main {
    @extend .flex-column;
    @extend .layout-start-center;
    padding: 0 0 64px 0;
}

app-minter, app-story, app-roadmap, app-about, app-faq {
    margin-bottom: 64px;
}

app-minter {
    width: 100%;
}

app-story, app-roadmap, app-about, app-faq, app-team {
    width: 100%;
    max-width: 1280px;
}

.divider {
    padding: 48px;
}
