<main>
    <h2>The story</h2>
    <div class="story-block">
        <div>
            <p>
                The inhabitants of the underwater world are tired of how  the human race disparages their home, polluting it with waste.
                Scientists have calculated that by 2050 there will be more garbage in the ocean than fish, and we decided to act!
                Octupus Squad program initiated!
            </p>
            <br>
            <p>
                Octopus Squad,a community that wants to make the world a better place using NFT artand cutting edge technology.
                The program involves 10k unique, software-generated octopuses.
            </p>
        </div>
        <div class="spacer"></div>
        <div class="image">
            <img alt="Octo pirate" src="/assets/images/octo.gif" />
        </div>
    </div>
</main>
