<main>
    <h2>The story</h2>
    <div class="story-block">
        <div>
            <p>The inhabitants of the underwater world are tired of how  the human race disparages their home, polluting it with waste.<br>Scientists have calculated that by 2050 there will be more garbage in the ocean than fish, and we decided to act!<br>Octopus Squad program initiated!
            </p>
            <span class="spacer"></span>
            <p>The program involves 10k unique, software-generated octopuses.</p>
        </div>
        <div class="spacer"></div>
        <div class="image">
            <img alt="Octopuses preview" src="/assets/images/octo.gif" />
        </div>
    </div>
</main>
