<header>
    <div class="content flex-row layout-center-center">
        <span class="spacer flex-grow-1"></span>
        <ng-container *ngTemplateOutlet="navBar"></ng-container>
        <div class="mobile-menu">
            <button class="burger">
                <ng-container *ngIf="!navBarActive">
                    <svg (click)="navBarActive = true"
                         width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="2" y="6" width="28" height="3" rx="1.5" fill="#fff"/>
                        <rect x="2" y="15" width="28" height="3" rx="1.5" fill="#fff"/>
                        <rect x="2" y="23" width="28" height="3" rx="1.5" fill="#fff"/>
                    </svg>
                </ng-container>
                <ng-container *ngIf="navBarActive">
                    <svg (click)="navBarActive = false"
                         xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <path d="M24 8L8 24" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 8L24 24" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </ng-container>
            </button>
        </div>
    </div>
    <div class="menu" [class.active]="navBarActive">
        <ng-container *ngTemplateOutlet="navBar"></ng-container>
    </div>
</header>

<ng-template #navBar>
    <ul class="nav">
        <li>
            <a href="#story">The story</a>
        </li>
        <li>
            <a href="#roadmap">Roadmap</a>
        </li>
        <li>
            <a href="#about">About us</a>
        </li>
        <li>
            <a href="#faq">FAQ</a>
        </li>
        <li>
            <a href="#team">Team</a>
        </li>
    </ul>
</ng-template>
